<section id="test-component" class="p-10 flex flex-col items-center gap-5">
  <p class="">♥ test-component works! ♥</p>

  <p class="text-gray-300/80 italic text-2xl">{{ messageFromParent }}</p>

  <p>
    made by <span class="italic font-bold text-teal-600">{{ myName }}</span>
  </p>
  <p>{{ separateWith('♥ ', 12) }}</p>

  <button [disabled]="isEnabled" [class]="buttonClasses">
    button is sleeping: <span class="underline font-medium">{{ !isEnabled }}</span>
  </button>

  <p
    (click)="onHeartClick()"
    [ngClass]="{
      'p-5 text-9xl hover:scale-110 transition-transform duration-300 cursor-pointer': true,
      'text-gray-600': !isHeartActive,
      'text-teal-600': isHeartActive,
    }"
  >
    ♥
  </p>

  <p class="text-2xl text-gray-300">{{ message }}</p>

  <input
    type="text"
    [(ngModel)]="message"
    placeholder="you are welcome to say something"
    class="w-200 text-center p-5 outline-0 cursor-pointer hover:border hover:border-gray-500/50 rounded-2xl"
  />

  <button
    (click)="sendDataToParent()"
    class="text-2xl border py-1 px-4 rounded-2xl text-teal-400 hover:bg-teal-600/20 cursor-pointer transition-colors duration-300"
  >
    Send message to the Parent ♥
  </button>
</section>
